.screen-container {
    background-color: #000; 
    color: #fff; 
    font-family: Arial, sans-serif;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #f7d044;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #333; 
    padding: 20px;
    border-radius: 5px 5px 0 0; 
    color: #000; 
  }
  
  .title {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .logo-pedidos-ya {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.9em;
    color: #000000; 
  }
  
  .logo-pedidos-ya .icon {
    width: 24px; 
    height: 24px; 
    margin-right: 8px;
    filter: invert(80%) sepia(50%) saturate(1000%) hue-rotate(0deg) brightness(100%) contrast(100%); 
  }
  
  .content-section {
    display: flex;
    justify-content: space-around;
    gap: 50px; 
    flex-wrap: wrap; 
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; 
    min-width: 300px; 
  }
  
  .input-field {
    background-color: hwb(0 98% 0%); 
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: #000000;
    font-size: 1.1em;
    outline: none;
  }
  
  .input-field::placeholder {
    color: #aaa; 
  }
  
  .image-upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1; 
    min-width: 300px; 
  }
  
  .image-placeholder {
    width: 300px;
    height: 200px;
    background-color: #ADD8E6; 
    border: 4px solid #8B0000; 
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 0px 0px #8B0000; 
  }
  
  .close-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #8B0000; 
    cursor: pointer;
  }
  
  .cloud-icon {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 20px 0 0 -10px #fff, -20px 0 0 -10px #fff, 0 10px 0 -5px #fff;
  }
  
  .landscape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #8FBC8F; 
    border-top: 10px solid #556B2F; 
    box-sizing: border-box;
  }
  
  .confirm-button {
    background-color: #f7f6f6; 
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirm-button:hover {
    background-color: #e0b000; 
  }
  
  
  @media (max-width: 768px) {
    .content-section {
      flex-direction: column;
      align-items: center;
    }
  
    .title {
      font-size: 2em;
    }
  
    .image-placeholder {
      width: 90%;
      max-width: 300px;
    }
  }