<div class="login-container">
  <div class="login-card">
    <h1 class="title">BIENVENIDO</h1>

    <input
      type="text"
      placeholder="USUARIO"
      class="login-input"
      [(ngModel)]="username"
      name="username"
    />

    <input
      type="password"
      placeholder="CONTRASEÑA"
      class="login-input"
      [(ngModel)]="password"
      name="password"
    />

    <p class="forgot-password-text">¿Ha olvidado su contraseña?</p>

    <div class="social-login-buttons">
      <button class="social-button google-button">
        <img src="assets/img/google-icon.png" alt="Google" />
      </button>
      <button class="social-button facebook-button">
        <img src="assets/img/facebook-icon.png" alt="Facebook" />
      </button>
    </div>

    <button class="action-button login-button" (click)="login()">
      INICIAR SESIÓN
    </button>

    <p class="first-time-text">¿Es tu primer ingreso?</p>

    <button class="action-button register-button" (click)="goToRegister()">
      REGISTRARSE
    </button>
  </div>
</div>
