.home-container {
  background-image: url('../../../assets/img/resto1.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}


.logo {
  font-weight: bold;
  background-color: black;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
}

.login-btn {
  background-color: #f1c40f;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

/* Texto principal */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headline {
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
}

/* Flecha */
.arrow {
  margin-top: 1rem;
  font-size: 2rem;
  animation: bounce 2s infinite;
}

/* Animación */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
